//// Brand

$light: #98D7E2;

$light-pastel: scale-color($light, $lightness: 30%, $saturation: -20%);

$mid: #288098; 

$mid-bright: #5CC1D4;

$dark: #2D3030; 


/// Calls to Action / Highlights

$contrast: scale-color(#0F72B8, $lightness: -5%);

$contrast-light: scale-color($contrast, $lightness: 20%, $saturation: -25%);

$contrast-alt: #8F4D97; // WCAG 2 AA Compliant (18pt+)

$contrast-alt-light: scale-color($contrast-alt, $lightness: 20%, $saturation: -25%); 

$feedback: scale-color($light-pastel, $lightness: 50%);

$error: #FFF3B3;

$disabled: #ccc;

//// Text-specific colours
/////// A11Y: These will validate to WCAG 2.0 
///////////// for AA small text (4.5:1)

$link-text: scale-color($contrast-alt, $lightness: 10%);

$mid-text: #437F8F;

$dark-text: $dark;

$disabled-text: #666;



//// Modules / Body

$white: #ffffff; // Yes, really.


.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg),
    linear-gradient(transparent, transparent);
    /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */
}

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg),
    linear-gradient(transparent, transparent);
    /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */
}

.icon-pattern,
.icon-pattern-dark {
  background-repeat: repeat;
}


/// Background utility classes

.bg--dark {
  background-color: $dark;
}

.bg--mid {
  background-color: $mid;
}

.bg--light {
  background-color: $light;
}

.bg--light-pastel {
  background-color: $light-pastel;
}