@charset "UTF-8";
.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern, .icon-pattern-dark {
  background-repeat: repeat; }

.bg--dark {
  background-color: #2D3030; }

.bg--mid {
  background-color: #288098; }

.bg--light {
  background-color: #98D7E2; }

.bg--light-pastel {
  background-color: #bcdfe6; }

.nav__trigger {
  background-color: #8F4D97;
  cursor: pointer;
  z-index: 100;
  border-top: 0.3em solid #1b1d1d; }
  .nav__trigger .icon-menu {
    width: 1.3em;
    height: 1.1em;
    margin: 1.025em 0.7em 1.025em 0;
    float: left; }
  .nav__trigger span {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0.65em 0 0 0;
    color: #ffffff;
    float: left; }

.main-nav {
  font-size: 1em;
  z-index: 100;
  border-top: 0.15em solid #bbb; }

.secondary-nav-spaceholder {
  display: none; }

.main-nav li {
  background-color: #2b2e2e;
  margin-bottom: 0; }
  .main-nav li:nth-child(2n) {
    background-color: #272929; }
  .main-nav li .icon-lock-white {
    vertical-align: -0.3em;
    margin-right: 0.4em; }

.main-nav li a {
  display: inline-block;
  font-size: 1.2em;
  color: #ffffff;
  border-bottom: none;
  padding: 0.6em 0 0.7em 8%; }

.main-nav li a.active:not(.sectiontoggle) {
  color: #bcdfe6;
  font-weight: bold; }
  .main-nav li a.active:not(.sectiontoggle):before {
    content: "»» "; }

.main-nav li .sub-menu .active {
  text-decoration: none;
  background-color: #2D3030; }
  .main-nav li .sub-menu .active:before {
    content: "» "; }

.subnav-select-innav {
  display: inline-block;
  background-color: #562e5b;
  padding: 1.5em 8% 0.2em 8%;
  width: 100%; }
  .subnav-select-innav select {
    max-width: 18.75em;
    color: #2D3030;
    -webkit-appearance: menulist; }

.subnav-select-inpage {
  margin-bottom: 1.5em; }
  .subnav-select-inpage label {
    color: #437F8F; }
  .subnav-select-inpage select {
    max-width: 18.75em;
    -webkit-appearance: menulist; }
  @media only all and (min-width: 64em) {
    .subnav-select-inpage {
      display: none; } }

.main-nav .parent .sectiontoggle {
  display: none; }

.js .main-nav .parent-item {
  float: left; }

.js .main-nav .parent .sectiontoggle, .js .subnav-select-innav .sectiontoggle {
  display: block;
  float: right;
  padding: 0;
  margin: 0.5em 5% 0.5em 0; }
  .js .main-nav .parent .sectiontoggle div, .js .subnav-select-innav .sectiontoggle div {
    display: inline-block;
    padding: 0.1em 0.4em;
    background-color: #8F4D97; }
  .js .main-nav .parent .sectiontoggle .icon-arrow-down, .js .main-nav .parent .sectiontoggle .icon-arrow-up, .js .subnav-select-innav .sectiontoggle .icon-arrow-down, .js .subnav-select-innav .sectiontoggle .icon-arrow-up {
    width: 0.625em;
    height: 0.625em; }

.main-nav .sub-menu {
  clear: both; }

.js .main-nav .sub-menu {
  visibility: hidden;
  height: 0; }

.js .main-nav .sub-menu.open {
  visibility: visible;
  height: auto; }

.main-nav .sub-menu li a {
  font-size: 1.1em;
  width: 100%; }
  .main-nav .sub-menu li a:before {
    content: "— "; }

.main-nav li:hover a {
  text-decoration: underline; }

.main-nav li:hover .sub-menu a {
  text-decoration: none; }

.main-nav .sub-menu li {
  background-color: #3d4141 !important; }
  .main-nav .sub-menu li:hover {
    background-color: #292c2c !important; }
  .main-nav .sub-menu li:hover a {
    text-decoration: underline; }
  .main-nav .sub-menu li:nth-child(2n) {
    background-color: #595f5f !important; }
    .main-nav .sub-menu li:nth-child(2n):hover {
      background-color: #292c2c !important; }

.js .nav__trigger {
  position: fixed;
  -webkit-backface-visibility: hidden;
  bottom: 0; }

.js nav.nav-collapse {
  position: fixed !important;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  bottom: 3.375em; }

.js nav.nav-collapse .main-nav ul.sub-menu.open {
  width: 100%;
  max-height: 20em;
  max-height: 55vh;
  overflow: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch; }
  .js nav.nav-collapse .main-nav ul.sub-menu.open:-webkit-scrollbar {
    width: 0 !important; }

@media only all and (max-width: 41em) {
  .js .nav-collapse ul {
    display: none; }
  .js .nav-collapse.opened ul {
    display: block; } }

@media only all and (min-width: 41em) {
  .nav__trigger {
    display: none; }
  .main-nav {
    border: none; }
  .main-nav li {
    background-color: #2D3030; }
    .main-nav li:nth-child(2), .main-nav li:nth-child(3), .main-nav li:nth-child(6) {
      background-color: #1d1f1f; }
  .main-nav li a.active:not(.sectiontoggle) {
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal; }
    .main-nav li a.active:not(.sectiontoggle):before {
      content: " "; }
  .js nav.nav-collapse {
    position: static !important; }
  .subnav-select-innav {
    display: none;
    visibility: hidden; }
  .js .main-nav .parent .sectiontoggle, .js .subnav-select-innav .sectiontoggle {
    margin: 0.3em 5% 0.5em 0; }
    .js .main-nav .parent .sectiontoggle div, .js .subnav-select-innav .sectiontoggle div {
      display: inline-block;
      padding: 0.1em 0.4em 0 0.4em;
      background-color: #8F4D97; }
  .main-nav li {
    z-index: 100;
    height: 3em;
    padding: 0;
    text-align: left;
    float: left; }
    .main-nav li:nth-child(1) {
      width: 50%; }
    .main-nav li:nth-child(2) {
      width: 50%; }
    .main-nav li:nth-child(3) {
      width: 50%; }
    .main-nav li:nth-child(4), .main-nav li:nth-child(5), .main-nav li:nth-child(6) {
      width: 50%; }
  .js nav.nav-collapse .main-nav li:nth-child(2) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(3) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(4) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(5) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(6) .sub-menu.open {
    width: 50%; }
  .js .main-nav .parent .sectiontoggle {
    padding-top: 0.3em;
    margin-right: 10%; }
  .js nav.nav-collapse .sub-menu.open {
    max-height: 85vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    min-width: 33.333%;
    position: absolute;
    margin-top: 3em;
    text-align: left; }
    .js nav.nav-collapse .sub-menu.open li a {
      padding: 0.7em 1.5em 0.7em 1em; }
  .main-nav .sub-menu {
    z-index: 100; }
  .main-nav .sub-menu li {
    z-index: 100;
    width: 100%;
    float: none;
    height: auto;
    text-align: left;
    border: none; } }

@media only all and (min-width: 56em) {
  nav {
    background-color: #2D3030;
    margin: 0 0 0 0;
    padding: 0; }
  .nav-collapse .main-nav {
    height: 4.7em;
    max-width: 80em;
    margin: 0 auto 0 auto; }
  .main-nav li {
    font-size: 0.9em;
    font-weight: 400;
    width: 20%;
    padding: 0.4em 0 0.8em 0;
    background-color: inherit;
    height: 5.2em;
    float: left;
    border-bottom: none; }
    .main-nav li:nth-child(2n) {
      background-color: #202222 !important; }
    .main-nav li:nth-child(3) {
      background-color: inherit; }
    .main-nav li:last-child {
      margin-right: 0; }
    .main-nav li:nth-child(1) {
      padding: 0.4em 2% 0.6em 1.5%; }
    .main-nav li:nth-child(1), .main-nav li:nth-child(5) {
      padding: 0.4em 2% 0.6em 1.5%;
      width: 11%; }
    .main-nav li:nth-child(2), .main-nav li:nth-child(3), .main-nav li:nth-child(4) {
      width: 20%; }
    .main-nav li:nth-child(6) {
      width: 17%;
      padding: 0.4em 0 0.6em 1.5%; }
  .main-nav .parent-item {
    max-width: 70%; }
  .js .main-nav .parent .sectiontoggle {
    float: left;
    padding-left: 5%; }
  .main-nav .sub-menu {
    visibility: hidden;
    position: absolute;
    left: auto;
    margin-top: 4.8em;
    margin-left: 0;
    width: auto; }
    .main-nav .sub-menu a {
      height: auto; }
    .main-nav .sub-menu li {
      width: auto; }
  .main-nav li:hover .sub-menu {
    display: block;
    visibility: visible;
    height: auto;
    position: absolute;
    margin-top: 4.8em;
    left: auto;
    width: auto;
    margin-left: 0; }
    .main-nav li:hover .sub-menu li a {
      padding: 0.6em 1em 0.6em 1em; }
  .js nav.nav-collapse .main-nav ul.sub-menu.open {
    margin: 4.8em 0 0 0;
    width: auto; }
    .js nav.nav-collapse .main-nav ul.sub-menu.open li a {
      padding: 0.6em 1em 0.6em 1em; }
  .js nav.nav-collapse .main-nav li:nth-child(2) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(3) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(4) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(5) .sub-menu.open, .js nav.nav-collapse .main-nav li:nth-child(6) .sub-menu.open {
    width: auto;
    min-width: auto; }
  .main-nav .sub-menu li {
    height: auto;
    padding: 0 1em 0 0;
    font-size: 1em; } }

/*# sourceMappingURL=0-navigation.css.map */