.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern, .icon-pattern-dark {
  background-repeat: repeat; }

.bg--dark {
  background-color: #2D3030; }

.bg--mid {
  background-color: #288098; }

.bg--light {
  background-color: #98D7E2; }

.bg--light-pastel {
  background-color: #bcdfe6; }

/* Buttons / CTAs */
.btn, #user-login input[type="submit"] {
  font-size: 1.13em;
  background-color: #2D3030;
  color: #fff;
  display: inline-block;
  padding: 0.6em 1.2em;
  font-weight: 600;
  cursor: pointer;
  margin: 0 1em 1.5em 0;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  border-top: none;
  border-bottom: 0.2em solid #171818; }
  .btn:hover, #user-login input[type="submit"]:hover {
    text-decoration: underline;
    box-shadow: inset 0 0 0 0.2em #6a7171;
    background-color: #4b5050;
    border-bottom: 0.2em solid #1d1f1f; }

.btn--mid, #user-login input[type="submit"] {
  background-color: #288098;
  border-bottom: 0.2em solid #1c5a6a; }
  .btn--mid:hover, #user-login input[type="submit"]:hover {
    box-shadow: inset 0 0 0 0.2em #4fb5d1;
    background-color: #288098;
    border-bottom: 0.2em solid #247389; }

.btn--light {
  background-color: #98D7E2;
  color: #2D3030;
  border-bottom: 0.2em solid #40b5c9; }
  .btn--light:hover {
    box-shadow: inset 0 0 0 0.2em #c1e7ee;
    background-color: #98D7E2;
    border-bottom: 0.2em solid #5dc0d1; }

.btn--light-pastel {
  background-color: #bcdfe6;
  color: #2D3030;
  border-bottom: 0.2em solid #80c3ce; }
  .btn--light-pastel:hover {
    box-shadow: inset 0 0 0 0.2em #d7ecf0;
    background-color: #bcdfe6;
    border-bottom: 0.2em solid #9ed1da; }

.btn--contrast {
  background-color: #0e6caf;
  border-bottom: 0.2em solid #094169; }
  .btn--contrast:hover {
    box-shadow: inset 0 0 0 0.2em #2f9fee;
    background-color: #0e6caf;
    border-bottom: 0.2em solid #0a4c7a; }

.btn--contrast-alt {
  background-color: #85488c;
  border-bottom: 0.2em solid #562e5b; }
  .btn--contrast-alt:hover {
    box-shadow: inset 0 0 0 0.2em #ab6ab3;
    background-color: #8F4D97;
    border-bottom: 0.2em solid #723e79; }

.btn--white {
  background-color: #ffffff;
  border-bottom: 0.2em solid #b3b3b3;
  color: #2D3030; }
  .btn--white:hover {
    box-shadow: inset 0 0 0 0.2em #bcdfe6;
    background-color: #ffffff;
    border-bottom: 0.2em solid #b3b3b3; }

.btn--disabled {
  background-color: #ccc;
  border-bottom: 0.2em solid #b3b3b3;
  color: #555; }
  .btn--disabled:hover {
    text-decoration: none;
    box-shadow: none;
    background-color: #ccc;
    border-bottom: 0.2em solid #b3b3b3; }

/* Removes awkward default styles on some inputs for mobile */
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* Removes awkward UA side borders set, and pads to right height */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border-left: 0;
  border-right: 0;
  height: 3em; }

/*# sourceMappingURL=02-buttons.css.map */