.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern, .icon-pattern-dark {
  background-repeat: repeat; }

.bg--dark {
  background-color: #2D3030; }

.bg--mid {
  background-color: #288098; }

.bg--light {
  background-color: #98D7E2; }

.bg--light-pastel {
  background-color: #bcdfe6; }

.cta:before, .cta:after {
  display: table;
  line-height: 0;
  content: ""; }

.cta:after {
  clear: both; }

.cta {
  display: inline-block;
  width: 100%;
  margin: 0 0 1.5em 0;
  padding: 0.8em;
  background-color: #288098;
  border-left: 1em solid #2D3030;
  border-bottom: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }
  .cta:hover {
    background-color: #2b8ba5; }
  .cta:hover span {
    text-decoration: underline; }

.cta span {
  display: inline-block;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: 400;
  color: #ffffff; }

.cta .icon-circle-arrow, .cta .icon-circle-arrow-white {
  width: 2.125em;
  height: 2.125em; }

.cta--light {
  background-color: #0e6caf;
  border-color: #2e8ccf; }
  .cta--light span {
    color: #ffffff; }
  .cta--light:hover {
    background-color: #1079c4; }

.cta--light-alt {
  background-color: #8F4D97;
  border-color: #a473aa; }
  .cta--light-alt:hover {
    background-color: #9b54a4; }

.cta.cta--dark {
  background-color: #2D3030;
  border-left: none; }
  .cta.cta--dark:hover {
    border-left: none; }

.cta.cta--light--no-border {
  background-color: #0e6caf;
  border-left: none; }
  .cta.cta--light--no-border:hover {
    border-left: none; }

.cta.icon-pattern {
  border-color: #288098; }
  .cta.icon-pattern span {
    color: #288098; }

.cta--no-circle div {
  display: none; }

.cta--block {
  border: none;
  padding: 1.5em; }
  .cta--block span {
    font-weight: 600; }

.cta--block p {
  color: #ffffff; }

.cta--block.icon-pattern p {
  color: #437F8F; }

.cta--lockable {
  width: auto;
  min-width: 15em;
  border-left: none;
  background-color: #2D3030;
  color: #ffffff; }
  .cta--lockable div {
    float: none;
    display: inline-block; }
  .cta--lockable span {
    color: #ffffff;
    width: 55%;
    height: 2em;
    display: inline-block;
    margin-left: 0.8em; }
  .cta--lockable .cta--lockable__lock {
    width: 1.375em;
    margin-left: 0.2em; }
  .cta--lockable .icon-lock-red {
    width: 1.375em;
    height: 1.875em; }
  .cta--lockable:hover {
    background-color: #3f4343; }

@media only all and (min-width: 20em) {
  .cta {
    border-left: 1.5em solid #2D3030;
    padding: 0.5em 0.8em 0.5em 0.8em; }
  .cta--light {
    border-color: #2e8ccf; }
  .cta--light-alt {
    border-color: #a473aa; }
  .cta span {
    width: 80%;
    float: left;
    padding: 0.45em 0 0.45em 0; }
  .cta div {
    width: 20%;
    float: right;
    text-align: right;
    padding-top: 0.3em; }
  .cta.cta--lockable {
    border-left: none;
    min-width: 15.5em; }
    .cta.cta--lockable span {
      width: 55%;
      float: none;
      vertical-align: 0.5em;
      height: 1.4em; }
    .cta.cta--lockable div {
      float: none; }
    .cta.cta--lockable .cta--lockable__lock {
      vertical-align: 0.1em; }
  .cta--no-circle span {
    width: 100%;
    padding-bottom: 0.8em; }
  .cta--block {
    border: none; }
    .cta--block span {
      width: 100%;
      margin-bottom: 0.5em; }
    .cta--block p {
      width: 80%;
      float: left; }
  .cta--block.cta--no-circle span, .cta--block.cta--no-circle p {
    width: 100%; } }

@media only all and (min-width: 30em) {
  .cta {
    padding: 0.6em 0.8em 0.6em 0.8em; }
  .cta span {
    font-size: 1.4em;
    padding: 0.4em 0 0 0; }
  .cta.cta--lockable span {
    padding: 0; }
  .cta--block {
    padding: 1.7em; } }

@media only all and (min-width: 32.5em) {
  .cta--no-circle {
    padding: 1.5em 1em 1.5em 1em; }
    .cta--no-circle span {
      padding-top: 0; } }

@media only all and (min-width: 58.75em) {
  .cta {
    padding: 0.6em 1.2em 0.6em 1.2em; } }

/*# sourceMappingURL=02-calls-to-action.css.map */