.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern, .icon-pattern-dark {
  background-repeat: repeat; }

.bg--dark {
  background-color: #2D3030; }

.bg--mid {
  background-color: #288098; }

.bg--light {
  background-color: #98D7E2; }

.bg--light-pastel {
  background-color: #bcdfe6; }

.tabs {
  margin-bottom: 3em; }

.tabs [role=tablist] {
  display: none; }

.js-tabs .tabs [role=tablist] {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 0.2em;
  margin: 0 0 1em 0;
  background-color: #d0e9ed; }

.js-tabs .tabs [role=tab] {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0 0 0.2em 0;
  background-color: #288098;
  color: #ffffff;
  line-height: 2.75;
  cursor: pointer; }
  .js-tabs .tabs [role=tab]:hover {
    text-decoration: underline; }

.js-tabs .tabs .tabs__print-all {
  list-style-type: none;
  display: block;
  text-align: center;
  padding: 0.5em 0 0.2em 0;
  margin: 0; }
  .js-tabs .tabs .tabs__print-all a {
    display: inline-block;
    width: 100%;
    border-bottom: none; }
  .js-tabs .tabs .tabs__print-all:hover {
    text-decoration: underline; }

.js-tabs .tabs.js-tab-ui .js-tabs-list [aria-selected=true] {
  background-color: #2D3030;
  border: none; }

@media only all and (min-width: 41em) {
  .js-tabs .tabs .js-tabs-list li, .js-tabs .tabs.js-tab-ui .js-tabs-list [aria-selected=true] {
    border-right: 0.2em solid #d0e9ed; }
  .js-tabs .tabs [role=tab] {
    display: inline-block;
    width: 50%;
    list-style: none;
    text-align: center;
    margin: 0 0 0.3em 0; }
  .js-tabs .tabs .tabs__print-all {
    list-style-type: none;
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color: #288098;
    padding: 0.65em 0 0.65em 0; }
    .js-tabs .tabs .tabs__print-all a {
      color: #ffffff;
      border-bottom: none; } }

@media only all and (min-width: 56em) {
  .js-tabs .tabs [role=tablist] {
    padding: 0;
    box-shadow: 0 0.5em 0.5em 0em #ffffff; }
  .js-tabs .tabs .js-tabs-list li, .js-tabs .tabs.js-tab-ui .js-tabs-list [aria-selected=true] {
    border-right: none; }
  .js-tabs .tabs [role=tablist] {
    background-color: #d7ecf0; }
  .js-tabs .tabs [role=tab] {
    display: inline-block;
    width: 25%;
    cursor: pointer;
    color: #2D3030;
    font-weight: 400;
    background-color: inherit;
    list-style: none;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0.2em 1em 0.2em 1em;
    border-bottom: 0.15em solid #61b4c3; }
  .js-tabs .tabs .tabs__print-all {
    display: inline-block;
    font-weight: 400;
    background-color: inherit;
    list-style: none;
    text-align: right;
    margin: 0 0 0 0;
    width: 15%;
    padding: 0.2em 1em 0.86em 0;
    border-bottom: 0.15em solid #61b4c3; }
    .js-tabs .tabs .tabs__print-all a {
      color: #2D3030;
      text-align: right;
      text-decoration: underline; }
  .js-tabs .tabs.js-tab-ui .js-tabs-list [aria-selected=true] {
    color: #288098;
    font-weight: 600;
    background-color: #ffffff;
    border: 0.15em solid #61b4c3;
    border-color: #61b4c3;
    border-bottom: 0.15em solid #ffffff; }
    .js-tabs .tabs.js-tab-ui .js-tabs-list [aria-selected=true]:focus {
      border-color: #0e6caf;
      border-bottom: 0.15em solid #ffffff;
      text-decoration: underline;
      color: #2D3030;
      outline: none; }
  .js-tabs .tabs.js-tab-ui .js-tabs-list .tabs__print-all[aria-selected=true] {
    background-color: inherit;
    border: 0;
    font-weight: 400;
    border-bottom: 0.15em solid #61b4c3; } }

/* Prevent FOUC */
.js-tabs .tabs .js-panel {
  display: none; }

.js-tabs .tabs .js-panel.first {
  display: block; }

.js-tabs .tabs .js-panel__title {
  display: none; }

/*# sourceMappingURL=06-tab-ui.css.map */