.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern, .icon-pattern-dark {
  background-repeat: repeat; }

.bg--dark {
  background-color: #2D3030; }

.bg--mid {
  background-color: #288098; }

.bg--light {
  background-color: #98D7E2; }

.bg--light-pastel {
  background-color: #bcdfe6; }

/* Forms */
form {
  display: inline-block;
  width: 100%;
  max-width: 36em;
  background-color: #2D3030;
  padding: 1em 1em 0em 1em;
  margin: 1.5em 0 2em 0; }

form p {
  color: #ffffff; }

form a {
  color: #ffffff; }
  form a:hover {
    border-color: #ffffff; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[list], input[type="file"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="range"], input[type="search"], textarea, select {
  font-size: 1.1em;
  display: inline-block;
  height: 2.375em;
  width: 100%;
  padding: 0.375em 0.625em;
  margin-bottom: 1.5em;
  /* ^ The 0.375em vertically centers text on FF, 
  ignored by Webkit */
  background-color: #fff;
  border: 0.2em solid #2D3030;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[list], input[type="file"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="range"], input[type="search"] {
  max-width: 20em; }

.form-item {
  margin: 0 0 1.5em 0; }
  .form-item input[type="email"], .form-item input[type="number"], .form-item input[type="search"], .form-item input[type="text"], .form-item input[type="tel"], .form-item input[type="url"], .form-item input[type="password"], .form-item input[list], .form-item input[type="file"], .form-item input[type="date"], .form-item input[type="month"], .form-item input[type="week"], .form-item input[type="time"], .form-item input[type="range"], .form-item input[type="search"], .form-item textarea, .form-item select {
    margin-bottom: 0.5em; }
  .form-item .description {
    color: #bcdfe6;
    font-size: 1em; }

.checkbox {
  display: inline-block;
  margin: 1em 1.5em 2em 0; }

.checkbox input {
  margin-right: 0.5em; }

/* Removes awkward default styles on some inputs for mobile */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[list], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 4.0625em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  margin-bottom: 1em; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[list]:focus, textarea:focus, select:focus {
  border: 0.2em solid #b57cbc;
  outline: 0; }

label, legend {
  display: block;
  color: #ffffff;
  font-size: 1.1em;
  margin-bottom: 0.4em;
  font-weight: 300; }

fieldset {
  padding: 0;
  margin-bottom: 1.5em;
  border-width: 0;
  border: 0; }

fieldset ul {
  list-style-type: none; }

.fieldset-description {
  color: #ffffff;
  font-size: 1.1em;
  margin: 0 0 1.5em 0; }

.field-prefix {
  color: #ffffff;
  font-size: 1.1em; }

input[type="checkbox"] {
  display: inline; }

input[type="radio"] {
  display: inline-block;
  margin: 0 0.5em 0.5em 0; }

input[type="file"] {
  background-color: #171818;
  color: #ffffff; }

.form-required {
  font-weight: 300;
  color: #FFF3B3; }

.format {
  font-weight: 300;
  font-style: italic;
  color: #bcdfe6;
  margin-left: 0.75em; }

input[type="search"] {
  box-sizing: border-box; }

select[multiple] {
  height: auto; }

textarea[disabled], input[disabled], select[disabled] {
  background-color: #ccc;
  color: #555; }

textarea[disabled]:hover, input[disabled]:hover, select[disabled]:hover {
  cursor: not-allowed; }

select:-internal-list-box option:checked {
  background-color: #98D7E2; }

.messages {
  background-image: none !important;
  padding: 1.2em 1em !important;
  margin: 1em 0 2em 0 !important; }
  .messages ul li {
    font-weight: 600; }
  .messages p {
    margin: 0; }

/* Form buttons are covered in the 'Buttons
  and calls to action' section above */
@media only all and (min-width: 30em) {
  form {
    padding: 2em 2em 0.5em 2em; } }

/*# sourceMappingURL=07-form-fields.css.map */