.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.pattern-dark {
  background: url(../../assets/pattern-dark.png);
  background: url(../../assets/pattern-dark.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern, .icon-pattern-dark {
  background-repeat: repeat; }

.bg--darkest {
  background-color: #222121; }

.bg--dark {
  background-color: #2D3030; }

.bg--mid {
  background-color: #288098; }

.bg--light {
  background-color: #98D7E2; }

.bg--light-pastel {
  background-color: #D8ADE5; }

.js nav.nav-collapse .main-nav li.getting-started:hover .sub-menu, .js nav.nav-collapse .main-nav li.getting-started.section-active .sub-menu, .js nav.nav-collapse .main-nav li.getting-started ul.sub-menu.open {
  background-color: #00855B; }

.ancestor-getting-started .breadcrumb a, .ancestor-getting-started .subnav li a {
  color: #00855B;
  border-bottom: 0.1em dotted #00855B; }
.ancestor-getting-started .subnav .subnav__item:before, .ancestor-getting-started .subnav .subnav__item.subnav__item--sub-parent:before {
  color: #00be82; }
.ancestor-getting-started .subnav-select-innav {
  background-color: #077e59; }
.ancestor-getting-started .subnav-select-innav select:focus, .ancestor-getting-started .subnav-select-inpage select:focus {
  border-color: #00714d; }

.js nav.nav-collapse .main-nav li.analyse-film:hover .sub-menu, .js nav.nav-collapse .main-nav li.analyse-film.section-active .sub-menu, .js nav.nav-collapse .main-nav li.analyse-film ul.sub-menu.open {
  background-color: #0456BE; }

.ancestor-analyse-film .breadcrumb a, .ancestor-analyse-film .subnav li a {
  color: #0456BE;
  border-bottom: 0.1em dotted #0456BE; }
.ancestor-analyse-film .subnav .subnav__item:before, .ancestor-analyse-film .subnav .subnav__item.subnav__item--sub-parent:before {
  color: #2684fa; }
.ancestor-analyse-film .subnav-select-innav {
  background-color: #0456BE; }
.ancestor-analyse-film .subnav-select-innav select:focus, .ancestor-analyse-film .subnav-select-inpage select:focus {
  border-color: #0349a2; }

.js nav.nav-collapse .main-nav li.create-films:hover .sub-menu, .js nav.nav-collapse .main-nav li.create-films.section-active .sub-menu, .js nav.nav-collapse .main-nav li.create-films ul.sub-menu.open {
  background-color: #0080A6; }

.ancestor-create-films .breadcrumb a, .ancestor-create-films .subnav li a {
  color: #0080A6;
  border-bottom: 0.1em dotted #0080A6; }
.ancestor-create-films .subnav .subnav__item:before, .ancestor-create-films .subnav .subnav__item.subnav__item--sub-parent:before {
  color: #00a8da; }
.ancestor-create-films .subnav-select-innav {
  background-color: #006685; }
.ancestor-create-films .subnav-select-innav select:focus, .ancestor-create-films .subnav-select-inpage select:focus {
  border-color: #006d8d; }

.js nav.nav-collapse .main-nav li.browse-films:hover .sub-menu, .js nav.nav-collapse .main-nav li.browse-films.section-active .sub-menu, .js nav.nav-collapse .main-nav li.browse-films ul.sub-menu.open {
  background-color: #760B5E; }

.ancestor-browse-films .breadcrumb a, .ancestor-browse-films .subnav li a {
  color: #760B5E;
  border-bottom: 0.1em dotted #760B5E; }
.ancestor-browse-films .subnav .subnav__item:before, .ancestor-browse-films .subnav .subnav__item.subnav__item--sub-parent:before {
  color: #df15b1; }
.ancestor-browse-films .subnav-select-innav {
  background-color: #71105b; }
.ancestor-browse-films .subnav-select-innav select:focus, .ancestor-browse-films .subnav-select-inpage select:focus {
  border-color: #640950; }

@media only all and (max-width: 41em) {
  .ancestor-getting-started .header {
    border-bottom: 0.4em solid #00855B; }
  .ancestor-analyse-film .header {
    border-bottom: 0.4em solid #0456BE; }
  .ancestor-create-films .header {
    border-bottom: 0.4em solid #0080A6; }
  .ancestor-browse-films .header {
    border-bottom: 0.4em solid #760B5E; } }

@media only all and (max-width: 59em) {
  .main-nav li.getting-started.section-active {
    background-color: #0d7856; }
  .main-nav li.analyse-film.section-active {
    background-color: #0456BE; }
  .main-nav li.create-films.section-active {
    background-color: #006685; }
  .main-nav li.browse-films.section-active {
    background-color: #71105b; }
  .ancestor-getting-started .main-nav {
    border-bottom: 0.4em solid #00855B; }
  .ancestor-analyse-film .main-nav {
    border-bottom: 0.4em solid #0456BE; }
  .ancestor-create-films .main-nav {
    border-bottom: 0.4em solid #0080A6; }
  .ancestor-browse-films .main-nav {
    border-bottom: 0.4em solid #760B5E; } }

@media only all and (min-width: 59em) {
  .ancestor-getting-started .main-nav li.getting-started .sectiontoggle div {
    background-color: #006444; }
  .ancestor-analyse-film .main-nav li.analyse-film .sectiontoggle div {
    background-color: #044dab; }
  .ancestor-create-films .main-nav li.create-films .sectiontoggle div {
    background-color: #006685; }
  .ancestor-browse-films .main-nav li.browse-films .sectiontoggle div {
    background-color: #6a0a55; } }

/*# sourceMappingURL=15-color-specific-styles.css.map */