// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

// Mobile-first - stacking header with 100% wide
// sections, then enhanced via media query

.header {
  background-color: $white;
  width: 100%;
  margin: 0;
  text-align: center;
}

.header__part {
  height: 10.375em;
  background-repeat: no-repeat;
}

.header__part--brand {
  background-position: left top;
  a {border-bottom: none;}
  .icon-sfe-logo {
    margin: 1.75em 8% 0.75em 8%;
    width: 84%;
    height: 7.375em;
    max-width: 18.1875em;
  }
}

.header__search-trigger,
.nav__trigger {
  display: none;
  
  .trigger__container {
    width: 100%;
    max-width: 22em;
    margin: 0 auto 0 auto; 
  }
  .icon-arrow-down,
  .icon-arrow-up {
    width: 0.625em;
    margin: 1.375em 0 0 0;  
    float: right;
  }
  .icon-close {
    width: 1.25em;
    height: 1.3125em;
    margin: 0.95em 0.85em 0.8em 0;
    float: left;
  }
}

.js .header__search-trigger,
.js .nav__trigger {
  display: block;
  width: 100%;
  padding: 0 8% 0 8%;
}

.header__search-trigger {
  background-color: $mid;
  cursor: pointer;
  border-bottom: 0.3em solid scale-color($mid, $lightness: -30%);
  .icon-search {
    width: 1.4em;
    height: 1.5em;
    margin: 0.8125em 0.7em 0.8125em 0;
    float: left;
  }
  span {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0.75em 0 0 0;
    color: $white;
    float: left;
  }
  &.active {
    border-bottom: none;
  }
}

.header__part--search {
  background-position: right top;
  border-bottom: 0.3em solid $dark;
  form {
    background-color: inherit;
    margin: 0;
    width: 100%;
  }
  .search__container {
    width: 100%;
    max-width: 20em;
    margin: 0 auto 0 auto;
    padding: 0.5em 0 0 0;
    text-align: center;
    background-position: center top;
    height: 10.375em;
  }
  .form-item-search-block-form {
    float: left;
    text-align: left;
    width: 75%;
    max-width: 13.92em;
    display: inline-block;
  }
  label {
    display: none;
    font-size: 1.3em;
    font-weight: 600;
  }
  input[type="text"] {
   font-size: 1.1em;
   border: 0.135em solid $mid; 
   padding: 0.36em;
   height: 2.1375em;
   &:focus {
     border: 0.135em solid $mid-bright;
   }
  }
  input[type="text"],
  input[type="submit"] {
    width: 100%;
    margin: 0;
  }
  .form-actions {
    width: 25%;
    display: inline-block;
    float: left;
  }
  input[type="submit"] {
    color: $white;
    background-color: $mid;
    font-size: 1.1em;
    outline: 0;
    border: 0.135em solid $mid;
    max-width: 4.55625em;
    height: 2.14em;
    &:focus,
    &:hover {
      background-color: $contrast-alt;
      border: 0.135em solid $contrast-alt;
    }
  }
  .search__advanced {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-top: 0.5em;
    margin: 0 auto;
    a {
	    border-color: $dark-text;
	    color: $dark-text;
	    border-bottom: 0.08em dotted $dark-text;
	  }
    a:focus,
    a:hover {
      color: $link-text;
      border-bottom: 0.08em dotted $link-text;
    }
  }
  // Fix / Hide Drupal junk *sigh*
  .block.block-search {
    //display: none; 
  }
  .form-item, 
  .form-actions {
    margin: 0;
  }
}

@media only all and (min-width: 41em) {
  
  // Hide the mobile nav triggers
  .js .header__search-trigger,
  .no-js .header__search-trigger {
    display: none;
  }
  
  // Bring our header halves back together
  .header__part--brand {
    width: 50%;
    float: left;
  }
  .header__part--search {
    width: 50%;
    float: left;
    border-bottom: none;
  }
  
  .header__part--search {
    form {
      padding: 1.3em 0 0 0;
      width: 100%;
      float: right;
    }
    .search__container {
      text-align: right;
      padding: 0;
    }
  }
  
  
  // This has the same effect as .container class; these fixes will
  // constrain the header items to an 80em width
  
  .header__part--brand {
    text-align: left;
  }
  .header__part--brand .icon-mie-logo {
    margin: 1.75em 0 0.75em 10%;
  }
  .header__part--search {
    text-align: right;
    padding: 0 5% 0 0;
  }
  .header__part--search .search__container {
    margin: 0 0 0 0;
    float: right;
    max-width: 18em;
    padding: 1.5em 0 0 0;
  }
  .header__part--search .search__advanced {
    max-width: 12em;
  }
  
  // Navigation
  .js .nav__trigger {
    display: none;
  }
  
  .nav-collapse {
    display: block;
  }
    
} //end min 41em

@media only all and (min-width: 88.75em) {
  
  // This has the same effect as .container class; these fixes will
  // constrain the header items to an 80em width
  
  .header__part--brand {
    text-align: right;
  }
  .header__part--brand .icon-mie-logo {
    margin: 1.75em 22.5em 0.75em 0;
  }
  .header__part--search {
    text-align: left;
    padding: 0;
  }
  .header__part--search .search__container {
    margin: 0 0 0 22em;
    float: none;
  }
  
  
} //end min 88.75em