// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

.nav__trigger {
  background-color: $contrast-alt;
  cursor: pointer;
  z-index: 100;
  border-top: 0.3em solid scale-color($dark, $lightness: -40%);
  .icon-menu {
    width: 1.3em;
    height: 1.1em;
    margin: 1.025em 0.7em 1.025em 0;
    float: left;
  }
  span {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0.65em 0 0 0;
    color: $white;
    float: left;
  }
}

.main-nav {
  font-size: 1em;
  z-index: 100;
  border-top: 0.15em solid #bbb;
}

.secondary-nav-spaceholder {
	display: none;
}

.main-nav li {
  background-color: scale-color($dark, $lightness: -5%);
  margin-bottom: 0;
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: -14%);
  }
  .icon-lock-white {
	  vertical-align: -0.3em;
	  margin-right: 0.4em;
  }
}

.main-nav li a {
  display: inline-block;
  font-size: 1.2em;
  color: $white;
  border-bottom: none;
  padding: 0.6em 0 0.7em 8%;
}

.main-nav li a.active:not(.sectiontoggle) {
	color: $light-pastel;
	font-weight: bold;
	&:before {
		content: "»» ";
	}
}

.main-nav li .sub-menu .active {
	text-decoration: none;
	background-color: $dark;
	&:before {
		content: "» "
	}
}

// Sub-nav <select> browse menu

.subnav-select-innav {
	display: inline-block;
	background-color: scale-color($contrast-alt, $lightness: -40%);
	padding: 1.5em 8% 0.2em 8%;
	width: 100%;
	select {
		max-width: 18.75em;
		color: $dark;
		-webkit-appearance: menulist;
	}
}

.subnav-select-inpage {
	margin-bottom: 1.5em;
	label {
		color: $mid-text;
	}
	select {
		max-width: 18.75em;
		-webkit-appearance: menulist;
	}
	@media only all and (min-width: 64em) {
		display: none;
	}
}

// Hide / show sub-section navigation based on JS being available
.main-nav .parent .sectiontoggle {
  display: none;
}

.js .main-nav .parent-item {
  float: left;
}

.js .main-nav .parent .sectiontoggle,
.js .subnav-select-innav .sectiontoggle {
  display: block;
  float: right;
  padding: 0;
  margin: 0.5em 5% 0.5em 0;
  div {
   display: inline-block;
   padding: 0.1em 0.4em;
   background-color: $contrast-alt;  
  }
  .icon-arrow-down,
  .icon-arrow-up {
    width: 0.625em;
    height: 0.625em; 
  }
}

.main-nav .sub-menu {
  clear: both;
}

.js .main-nav .sub-menu {
  visibility: hidden;
  height: 0;
}

.js .main-nav .sub-menu.open {
  visibility: visible;
  height: auto;
}

.main-nav .sub-menu li a {
  font-size: 1.1em;
  width: 100%;
  &:before {
    content: "— "
  }
}

.main-nav li:hover a {
  text-decoration: underline;
}

.main-nav li:hover .sub-menu a {
  text-decoration: none;
}

.main-nav .sub-menu li {
  background-color: scale-color($dark, $lightness: 8%) !important;
  &:hover {
    background-color: scale-color($dark, $lightness: -8%) !important;
  }
  &:hover a {
    text-decoration: underline;
  }
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: 22%) !important;
    &:hover {
      background-color: scale-color($dark, $lightness: -8%) !important;
    }
  }
}

.js .nav__trigger {
  position: fixed;
  //this wee trick fixes position: fixed on most android 2.2 and 2.3
  -webkit-backface-visibility: hidden;
  bottom: 0;
}

.js nav.nav-collapse {
  position: fixed !important;
  z-index: 100;
  //this wee trick fixes position: fixed on most android 2.2 and 2.3
  -webkit-backface-visibility: hidden;
  bottom: 3.375em;
}

.js nav.nav-collapse .main-nav ul.sub-menu.open {
  width: 100%;
  max-height: 20em;
  max-height: 55vh;
  overflow: auto;
  //hide vertical scrollbar in webkit, and then in IE10+:
  &:-webkit-scrollbar { width: 0 !important }
  -ms-overflow-style: none;
  //momentum scrolling on mobile webkit, ht/ @chuckle_hound
  -webkit-overflow-scrolling: touch; 
}

// For the benefit of Windows Phone 8 IEmobile:

@media only all and (max-width: 41em) {
	
	.js .nav-collapse ul {
		display: none;
	}
	
	.js .nav-collapse.opened ul {
		display: block;
	}
	
} //max-width 41em


// Enhanced view

@media only all and (min-width: 41em) {
  
  // Remove 'position: fixed' jazz and trigger
  
  .nav__trigger {
    display: none;
  }
  
  .main-nav {border: none;}
  
  .main-nav li {
	  background-color: $dark;
	  &:nth-child(2),
	  &:nth-child(3),
	  &:nth-child(6), {
		  background-color: scale-color($dark, $lightness: -35%);
	  }
  }
  
  .main-nav li a.active:not(.sectiontoggle) {
		color: $white;
		text-decoration: underline; 
		font-weight: normal;
		&:before {
			content: " ";
		}
	}
  
  .js nav.nav-collapse {
    position: static !important;
  }
  
  // Hide subnav <select> menu
  
  .subnav-select-innav {
	  display: none;
	  visibility: hidden;
  }
  
  .js .main-nav .parent .sectiontoggle,
	.js .subnav-select-innav .sectiontoggle {
	  margin: 0.3em 5% 0.5em 0;
	  div {
	   display: inline-block;
	   padding: 0.1em 0.4em 0 0.4em;
	   background-color: $contrast-alt;  
	  }
	}

  
  // Build our sections into 2-up, three-row list:
    
  .main-nav li {
    z-index: 100;
    height: 3em;
    padding: 0;
    text-align: left;
    float: left;
    &:nth-child(1) {
      width: 50%;
    }    
    &:nth-child(2) {
	    width: 50%;
    }
    &:nth-child(3) {
      width: 50%;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
			width: 50%;
		}
 	}
	
	//Make the open submenu the same width as the section it's opened from,
	//even though they vary in width at our current breakpoint
	.js nav.nav-collapse .main-nav li:nth-child(2),
	.js nav.nav-collapse .main-nav li:nth-child(3),	
	.js nav.nav-collapse .main-nav li:nth-child(4),
	.js nav.nav-collapse .main-nav li:nth-child(5),
	.js nav.nav-collapse .main-nav li:nth-child(6) {
		.sub-menu.open {
			width: 50%; 
		}
	}

  
  .js .main-nav .parent .sectiontoggle {
	  padding-top: 0.3em;
	  margin-right: 10%;
  }
  
  .js nav.nav-collapse .sub-menu.open {
    max-height: 85vh;
    overflow: scroll;
    //momentum scrolling on mobile webkit, ht/ @chuckle_hound
    -webkit-overflow-scrolling: touch; 
    width: 100%;
    min-width: 33.333%;
    position: absolute;
    margin-top: 3em;
    text-align: left;
    li a {
      padding: 0.7em 1.5em 0.7em 1em;
    }
  }
  
  .main-nav .sub-menu {
    z-index: 100;
  }
  
  .main-nav .sub-menu li {
    z-index: 100;
    width: 100%;
    float: none;
    height: auto;
    text-align: left;
    border: none;
  }
  
} //end min 41em

@media only all and (min-width: 56em) {
  
  // Build our sections into 6-up, one-row list:
  
  nav {
    background-color: $dark;
    margin: 0 0 0 0;
    padding: 0;
  }
  
  .nav-collapse .main-nav {
    height: 4.7em;
    max-width: 80em;
    margin: 0 auto 0 auto;
  }
  
  .main-nav li {
    font-size: 0.9em;
    font-weight: 400;
    width: 20%;
    padding: 0.4em 0 0.8em 0;
    background-color: inherit;
    height: 5.2em;
    float: left;
    border-bottom: none;
    &:nth-child(2n) {
      background-color: scale-color($dark, $lightness: -30%) !important;
    }
    &:nth-child(3) {
      background-color: inherit;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(1) {
	    padding: 0.4em 2% 0.6em 1.5%;
    }
    &:nth-child(1),
    &:nth-child(5) {
	    padding: 0.4em 2% 0.6em 1.5%;
	    width: 11%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
	    width: 20%;
    }
    &:nth-child(6) {
			width: 17%;
			padding: 0.4em 0 0.6em 1.5%;
		}
  }
  
    
  .main-nav .parent-item {
    max-width: 70%;
  }
  
  .js .main-nav .parent .sectiontoggle {
    float: left;
    padding-left: 5%;
  }
  
  .main-nav .sub-menu {
    visibility: hidden;
  	position: absolute;
  	left: auto;
  	margin-top: 4.8em;
		margin-left: 0;
    width: auto;
    a {
      height: auto;
    }
    li {
	    width: auto;
    }
  }
  
  .main-nav li:hover .sub-menu {
    display: block;
    visibility: visible;
    height: auto;
    position: absolute;
    margin-top: 4.8em;
    left: auto;
    width: auto;
    margin-left: 0;
    li a {
      padding: 0.6em 1em 0.6em 1em;
    }
  }

  .js nav.nav-collapse .main-nav ul.sub-menu.open {
    margin: 4.8em 0 0 0;
    width: auto;
    li a {
      padding: 0.6em 1em 0.6em 1em;
    }
  }
  
  .js nav.nav-collapse .main-nav li:nth-child(2),
	.js nav.nav-collapse .main-nav li:nth-child(3),	
	.js nav.nav-collapse .main-nav li:nth-child(4),
	.js nav.nav-collapse .main-nav li:nth-child(5),
	.js nav.nav-collapse .main-nav li:nth-child(6) {
		.sub-menu.open {
			width: auto;
			min-width: auto; 
		}
	}

  
  .main-nav .sub-menu li {
    height: auto;
    padding: 0 1em 0 0;
    font-size: 1em;
  }
  
} //end min 56em