.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.icon-body-background { background-image: url('png/body-background.png'); background-repeat: no-repeat; }

.icon-callout-tip { background-image: url('png/callout-tip.png'); background-repeat: no-repeat; }

.icon-callout-warning { background-image: url('png/callout-warning.png'); background-repeat: no-repeat; }

.icon-circle-arrow-white { background-image: url('png/circle-arrow-white.png'); background-repeat: no-repeat; }

.icon-circle-arrow { background-image: url('png/circle-arrow.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-footer-partner-cs { background-image: url('png/footer-partner-cs.png'); background-repeat: no-repeat; }

.icon-footer-partner-es { background-image: url('png/footer-partner-es.png'); background-repeat: no-repeat; }

.icon-footer-partner-nls { background-image: url('png/footer-partner-nls.png'); background-repeat: no-repeat; }

.icon-footer-partner-sfe { background-image: url('png/footer-partner-sfe.png'); background-repeat: no-repeat; }

.icon-footer-twitter { background-image: url('png/footer-twitter.png'); background-repeat: no-repeat; }

.icon-header-left { background-image: url('png/header-left.png'); background-repeat: no-repeat; }

.icon-header-right { background-image: url('png/header-right.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-mie-logo { background-image: url('png/mie-logo.png'); background-repeat: no-repeat; }

.icon-pattern-dark { background-image: url('png/pattern-dark.png'); background-repeat: no-repeat; }

.icon-pattern { background-image: url('png/pattern.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-sfe-logo { background-image: url('png/sfe-logo.png'); background-repeat: no-repeat; }

.icon-ss-logo { background-image: url('png/ss-logo.png'); background-repeat: no-repeat; }

